
.acercade{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
    margin-bottom: -33px;
}
.imgacercade{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50%;
}
