
label{
    display: flex;
    flex-direction: column;
    margin-right: 31%;
    margin-left: 1%;
    width: 260px;
}
input{
    border-radius: 2%;
}

.bottom{
    width: 170px;
}
textarea{
    width: 290px;
}
