
.redesSociales{
    border: 3.5px;
}
.redesSociales--blablablayaoi{
    @extend .redesSociales;
    border: outset (rgba(214, 208, 208, 0.479)) 4px;
}


@mixin color ($fondo) {
    background-color: rgb(214, 208, 208);
}
.item-1{
    @include color (rgba(214, 208, 208, 0.479));
}
.item-2{
    @include color (rgb(214, 208, 208, 0.479));
}
.item-3{
    @include color(rgb(214, 208, 208, 0.479));
}
.item-4{
    @include color(rgb(214, 208, 208, 0.479));
}
.item-5{
    @include color(rgb(214, 208, 208, 0.479));
}
.item-6{
    @include color (rgb(214, 208, 208, 0.479));
}
.item-7{
    @include color (rgb(214, 208, 208, 0.479));
}
.item-8{
    @include color (rgb(214, 208, 208, 0.479));
}
.item-9{
    @include color (rgb(214, 208, 208, 0.479));
}
.item-10{
    @include color (rgb(214, 208, 208, 0.479));
}
.item-11{
    @include color (rgb(214, 208, 208, 0.479));
}
.item-12{
    @include color (rgb(214, 208, 208, 0.479));
}
.item-13{
    @include color (rgb(214, 208, 208, 0.479));
}
.item-14{
    @include color (rgb(214, 208, 208, 0.479));
}