@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;1,500;1,900&display=swap");
* {
  padding: 0;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #EBEBEB;
}

.home-container {
  display: flex;
  background-image: url(../img/F4.jpg);
  height: 400px;
  background-repeat: no-repeat;
  background-color: #ffffff;
  background-position: top center;
  background-size: cover;
  position: relative;
}

header {
  display: grid;
  font-size: large;
  border-bottom: solid red;
  margin-bottom: 37px;
}

.navbar-brand {
  color: rgba(31, 31, 31, 0.4784313725);
  text-decoration: none;
  font-size: 27px;
  letter-spacing: 1px;
  font-family: "Lato", sans-serif;
}

nav ul li {
  display: inline-block;
  list-style-type: none;
  text-decoration: none;
  text-align: center;
}

nav ul main {
  text-decoration: none;
  background-color: #EBEBEB;
}

img {
  width: 300px;
  height: 250px;
}

footer {
  padding: 2.5em;
  background-color: rgba(255, 0, 0, 0.23);
  margin-left: 0px;
  margin-top: 50px;
  text-align: center;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
  display: flex;
  justify-content: space-between;
  border-top: solid rgba(33, 37, 41, 0.5803921569);
}

a {
  color: #1f1f1f;
  text-decoration: none;
  font-size: 29px;
  letter-spacing: 1px;
  font-family: "Wire One", "Helvetica", arial, sans-serif;
  text-align: center;
  font-weight: 400;
}

h1 {
  color: black;
  margin-left: 7%;
  margin-right: 10%;
  font-family: "Lato", sans-serif;
}

h2 {
  font-family: "lato", sans-serif;
  font-weight: 400;
  font-style: normal;
  line-height: 1.4em;
  text-transform: none;
  letter-spacing: 0.04em;
  font-size: 18px;
  color: rgba(34, 39, 43, 0.6235294118);
  margin-top: 0;
  margin-bottom: 0%;
  text-align: left;
}

h3 {
  font-family: proxima-nova;
  font-weight: 400;
  font-style: normal;
  line-height: 1.4em;
  text-transform: none;
  letter-spacing: 0.04em;
  font-size: 18px;
  color: #7e8891;
  margin-top: 0;
  text-align: left;
  padding: 6px;
}

h4 {
  margin-left: 7%;
  margin-right: 10%;
  font-size: medium;
  color: #7e8891;
}

h5 {
  margin-left: 7%;
  margin-right: 10%;
  font-size: small;
  color: #7e8891;
}

.icono {
  width: 75px;
  height: 75px;
}

.whitesmoke {
  color: whitesmoke;
}

/* Grillas */
header {
  grid-area: header;
}

main {
  grid-area: contenido;
}

footer {
  grid-area: footer;
}

/* Portafolio */
.galeria {
  margin: 0%;
  background-color: #EBEBEB;
  margin-bottom: 1.5em;
  display: grid;
  grid-template-areas: "header" "nav" "galeria" "footer";
}

.padre {
  margin: 0%;
  background-color: #EBEBEB;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  justify-items: center;
}

.imgcontainer {
  margin-top: 15px;
  border-width: 8px;
  border-style: solid;
  border-color: grey;
}

/* Tienda */
.card {
  background-color: #EBEBEB;
  border: 1px solid #EBEBEB;
  border-radius: 10px;
  width: 320px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 17px;
}

.items {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tienda {
  width: 288px;
  height: 327px;
  margin-top: 10px;
  border-radius: 4.5px;
}

.grid-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

button {
  background-color: gray;
  margin-bottom: 10px;
  padding: 3px;
}

.precio {
  margin-bottom: 4px;
  margin-top: -20px;
}

.acercade {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
  margin-bottom: -33px;
}

.imgacercade {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50%;
}

label {
  display: flex;
  flex-direction: column;
  margin-right: 31%;
  margin-left: 1%;
  width: 260px;
}

input {
  border-radius: 2%;
}

.bottom {
  width: 170px;
  margin-top: 10px;
  background: rgba(195, 52, 52, 0.48);
  box-shadow: 0 8px 32px 0 rgba(143, 48, 145, 0.39);
  border-radius: 10px;
  border: 1px solid rgba(224, 226, 217, 0.14);
}

textarea {
  width: 319px;
}

.grid-container2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
}

.formulario {
  border-radius: 20px;
  background-color: rgba(255, 0, 0, 0.32);
  margin: 30px;
  padding-right: 80px;
  padding-bottom: 18px;
  padding-left: 15px;
}

@media (min-width: 576px) {
  .padre {
    margin: 0%;
    margin-top: 7px;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "header   header" "nav      nav" "galeria  galeria" "footer   footer";
  }
  nav ul {
    display: flex;
    justify-content: space-between;
  }
  img {
    width: 200px;
    height: 150px;
  }
  /* Tienda */
  .grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    margin-top: 7px;
  }
  .text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50%;
  }
  .box {
    border-radius: 0.5px;
  }
  .box:hover {
    transform: scale(1.5);
  }
  .box1 {
    transition-property: all;
    transition-duration: 2s;
  }
  h1 {
    color: black;
    margin-left: 7%;
    margin-right: 10%;
    font-family: "Lato", sans-serif;
  }
  h4 {
    margin-left: 7%;
    margin-right: 10%;
    font-size: medium;
    color: #7e8891;
  }
  h5 {
    margin-left: 7%;
    margin-right: 10%;
    font-size: small;
    color: #7e8891;
  }
  /* Contacto */
  label {
    display: flex;
    margin-right: 50%;
    margin-left: 1%;
    width: 300px;
  }
  input {
    border-radius: 2%;
    width: 350px;
  }
  textarea {
    width: 441px;
  }
  .formulario {
    border-radius: 20px;
    background-color: rgba(255, 0, 0, 0.32);
    margin: 30px;
    padding-right: 163px;
    padding-bottom: 18px;
    padding-left: 15px;
  }
  footer {
    padding-left: 80px;
    padding-right: 79px;
  }
}
@media (min-width: 920px) {
  .padre {
    margin: 0%;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: "header header header" "nav    nav    nav" "main   main   main" "footer footer footer";
  }
  img {
    width: 300px;
    height: 250px;
  }
  /* tienda */
  .grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    justify-items: center;
    row-gap: 30px;
  }
  .text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50%;
  }
  .box {
    border-radius: 0.5px;
  }
  .box:hover {
    transform: scale(1.5);
  }
  .box1 {
    transition-property: all;
    transition-duration: 2s;
  }
  h1 {
    color: black;
    margin-left: 0%;
    margin-right: 62%;
    font-family: "Lato", sans-serif;
  }
  h4 {
    margin-left: 10%;
    margin-right: 50%;
    font-size: medium;
    color: #7e8891;
  }
  h5 {
    margin-left: 10%;
    margin-right: 49%;
    margin-bottom: 10%;
    font-size: small;
    color: #7e8891;
  }
  /* Contacto */
  label {
    display: flex;
    margin-right: 55%;
    margin-left: 1%;
    width: 350px;
  }
  input {
    border-radius: 1.5%;
  }
  textarea {
    width: 500px;
  }
  .formulario {
    border-radius: 20px;
    background-color: rgba(255, 0, 0, 0.32);
    margin: 10px;
    padding: 10px;
    padding-right: 174px;
    padding-bottom: 18px;
    padding-left: 15px;
  }
  input {
    width: 410px;
  }
}
@media (min-width: 992px) {
  .navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 0.5rem;
    padding-left: 2.9rem;
    padding-top: 0;
  }
  .navbar-expand-lg {
    flex-wrap: nowrap;
    justify-content: flex-start;
    height: 110px;
    margin-bottom: -20px;
  }
}
@media (min-width: 1700px) {
  .navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 3.5rem;
    padding-left: 6.5rem;
    padding-top: 0;
  }
  .navbar-expand-lg {
    flex-wrap: nowrap;
    justify-content: flex-start;
    height: 110px;
    margin-bottom: -20px;
  }
  footer {
    padding-left: 374px;
    padding-right: 371px;
  }
}
.redesSociales, .redesSociales--blablablayaoi {
  border: 3.5px;
}

.redesSociales--blablablayaoi {
  border: outset rgba(214, 208, 208, 0.479) 4px;
}

.item-1 {
  background-color: rgb(214, 208, 208);
}

.item-2 {
  background-color: rgb(214, 208, 208);
}

.item-3 {
  background-color: rgb(214, 208, 208);
}

.item-4 {
  background-color: rgb(214, 208, 208);
}

.item-5 {
  background-color: rgb(214, 208, 208);
}

.item-6 {
  background-color: rgb(214, 208, 208);
}

.item-7 {
  background-color: rgb(214, 208, 208);
}

.item-8 {
  background-color: rgb(214, 208, 208);
}

.item-9 {
  background-color: rgb(214, 208, 208);
}

.item-10 {
  background-color: rgb(214, 208, 208);
}

.item-11 {
  background-color: rgb(214, 208, 208);
}

.item-12 {
  background-color: rgb(214, 208, 208);
}

.item-13 {
  background-color: rgb(214, 208, 208);
}

.item-14 {
  background-color: rgb(214, 208, 208);
}/*# sourceMappingURL=estilos.css.map */